// Flexbox for the grid and web prefixes
.grid,
[class*="grid-"] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;

  .col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 0 10px;
  }
}

// 2 columns
.grid-2 {
  .col {
    width: 100%;

    @include desktop {
      width: 50%;
    }
  }
}

// 3 columns
.grid-3 {

  .col {
    padding-bottom: 20px;
    width: 50%;

    @include desktop {
      width: 33.333%;
    }
  }
}
